/* В этом файле вы импортируете все шрифты для сайта. Один из них вариативный и требует особенной настройки */
@font-face {
    font-family: inter variable;
    src: url(/fonts/Inter-Variable.woff2);
    font-weight: 400, 700;
}

@font-face {
    font-family: PressStart2P;
    src: url(/fonts/PressStart2P-Regular.woff);
    font-weight: 400;
}