/* В этом файле уже написаны некоторые базовые стили, которые сбрасывают или преобразуют дефольное браузерное поведение.
Здесь же лежит утилитарный класс visually-hidden на случай, если нужно скрыть какой-то элемент, но оставить доступным для скринридера.
Вы можете изменять этот файл или дополнять. Но скорее всего, вам это не потребуется. */

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
}

a {
    color: inherit;
}

button,
input {
    color: currentColor;
    font-family: inherit;
    font-size: inherit;
}

ul,
ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.wrapper {
    margin: auto;
    margin-top: var(--wrapper-mt);
    width: var(--wrapper-width);
}

.button {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 90%;
    background-color: var(--main-color);
    font-size: var(--s-font-size);
    font-family: var(--accent-font-family);
    border: var(--main-border);
    transition: 0.5s ease-in-out;
}

.button:not(.card__icon-button) {
    overflow: hidden;
}

.button span {
    position: relative;
}

.black-animation::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--accent-color);
    translate: -100%;
    transition: 0.5s ease-in-out;
}

.black-animation:focus {
    box-shadow: 2px 2px 0 var(--accent-color);
}

.black-animation:hover.button::before {
    translate: inherit;
}

.black-animation:hover.button {
    fill: var(--main-color);
    color: var(--main-color);
}

.main-list-item_image.no-border {
    border: none;
}
