/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

@keyframes heart-is-active-scale {
    from {
        scale: 1;
    }

    to {
        scale: 1.25;
    }
}

@keyframes heart-is-active-sparks {
    from {
        --sparks: transparent;
    }

    to {
        --sparks: #f00;
    }
}

.page {
    min-inline-size: 320px;
    min-block-size: 100dvb;
    font-family: var(--main-font-family);
    font-weight: var(--main-font-weight);
    font-size: var(--m-font-size);
    background: var(--page-bg);
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: var(--header-height);
    padding-top: var(--header-clamp-func);
    padding-bottom: var(--header-clamp-func);
    background-color: var(--main-color);
    border: var(--main-border);
    font-family: var(--accent-font-family);
}

.header_title {
    font-size: var(--header-title-fs);
    margin-bottom: var(--header-mb);
}

.header_subtitle {
    font-size: var(--header-subtitle-fs);
    text-transform: uppercase;
}

.main-list {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--main-list-gap);
    gap: var(--main-list-gap);
}

.main-list-element {
    background: var(--main-color);
    line-height: 117%;
}

.main-list-element_wrapper {
    padding: 25px;
    border: var(--main-border);
    border-top: transparent;
}

.main-list-item_title {
    font-weight: var(--title-font-weight);
    line-height: 140%;
}

.main-list-item_image-wrapper {
    position: relative;
}

.main-list-item_image-label {
    position: absolute;
    font-family: var(--accent-font-family);
    font-size: var(--s-font-size);
    top: var(--main-list-item_image-label-top);
    right: var(--main-list-item_image-label-right);
    mix-blend-mode: hard-light;
    opacity: 0.5;
    text-shadow: var(--main-list-item_image-label-shadow);
    z-index: 2;

    @supports (-webkit-text-stroke: 1px var(--main-color)) {
        text-shadow: none;
        -webkit-text-stroke: 0.04em var(--main-color);
    }
}

.main-list-item_image {
    border: var(--main-border);
}

.main-list-item_title-wrapper {
    border: var(--main-border);
    border-bottom: transparent;
    padding: 3px 0 3px 10px;
}

.main-list-item_info-block {
    display: flex;
    flex-direction: column;
    gap: 29px;
    margin-bottom: 25px;
}

.main-list-item_buttons {
    display: flex;
    justify-content: end;
    gap: 6px;
}

.footer-floppy-button.button {
    width: var(--floppy-button-width);
}

.card__icon-button:focus-visible {
    outline: 2px solid black;
    outline-offset: -2px;
}

.card__icon-button:hover {
    --contour: var(--accent-color);
    --main-body: var(--accent-color);
}

.card__icon-button:active {
    --contour: #f00;
    --main-body: #f00;
}

.like-icon {
    transition: 0.3s ease;
}

.like-icon.is-liked {
    animation: heart-is-active-scale 0.3s 0.1s ease-in, heart-is-active-sparks 0.3s 0.2s ease-in;
    --contour: #f00;
    --main-body: #f00;
    --core: #f00;
}

.core {
    transition: fill 0.56s ease;
}

.contour {
    transition: fill 0.5s 0.03s ease;
}

.card__like-button.button {
    display: flex;
    justify-content: center;
    font-family: var(--accent-font-family);
    font-size: var(--s-font-size);
    border: var(--main-border);
    width: 130px;
    padding: 11px 0;
}

.footer {
    display: flex;
    justify-content: center;
    margin-bottom: 105px;
}

.footer-floppy-button.button {
    padding: 15px 19px;
    justify-content: space-between;
}

.floppy {
    position: relative;
    color: var(--main-color);
    fill: var(--accent-color);
    transition: 0.5s ease-out;
}

.floppy-small {
    height: 21px;
    width: 21px;
}

.floppy-big {
    width: 82px;
}

.floppy.floppy-small {
    @media (width <= 600px) {
        height: 29px;
        width: 29px;
    }
}

.button:hover .floppy {
    fill: var(--main-color);
}

.footer_dialog {
    position: fixed;
    flex-direction: column;
    gap: 30px;
    font-size: var(--s-font-size);
    font-family: var(--accent-font-family);
    max-width: 353px;
    margin: auto;
    border: var(--main-border);
    padding: 30px;
}

.footer_dialog[open] {
    display: flex;
}

.page:has(.footer_dialog[open]) {
    overflow: hidden;
}

.footer_dialog_wrapper {
    display: flex;
    gap: 20px;
}

.footer_dialog_title {
    line-height: 150%;
}

.footer_dialog_button {
    padding-top: 9px;
    padding-bottom: 9px;
}
