:root {
    --main-font-family: Inter-Variable;
    --accent-font-family: PressStart2P;
    --m-font-size: 18px;
    --s-font-size: 14px;
    --main-font-weight: 400;
    --main-color: #fff;
    --main-border: 2px solid var(--accent-color);
    --accent-color: #000;
    --text-shadow-color: var(--main-color);

    --wrapper-mt: 100px;
    --wrapper-width: calc(clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem));

    --page-bg: repeating-linear-gradient(to right, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px),
        repeating-linear-gradient(to bottom, #d3d3d3 0px, #d3d3d3 2px, transparent 2px, transparent 4px), linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
    --header-mb: 20px;
    --header-title-fs: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
    --header-subtitle-fs: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
    --header-padding-clamp-func: calc(clamp(7.5rem, 0.751vw + 7.324rem, 8rem));

    --main-list-gap: 50px;
    --main-list-label-shadow: 1px 1px 0 var(--text-shadow-color), -1px 1px 0 var(--text-shadow-color), 1px -1px 0 var(--text-shadow-color),
        -1px -1px 0 var(--text-shadow-color), 0px 1px 0 var(--text-shadow-color), 0px -1px 0 var(--text-shadow-color), 1px 0px 0 var(--text-shadow-color),
        -1px 0px 0 var(--text-shadow-color);
    --main-list-label-top: 25px;
    --main-list-label-right: calc(clamp(0.625rem, 2.311vw + 0.083rem, 1.563rem));

    --floppy-button-width: calc(clamp(19.375rem, 2.796vw + 17.582rem, 20.938rem));

    --main-list-gap: 52px;

    --core: transparent;
    --contour: #000;
    --main-body: transparent;
    --sparks: transparent;
}
